
<img (click)="onStartClick()" class="start-logo" src="/assets/images/start.png">
<div *ngIf="active" class="startpopup">
    <div class="applications">
        <ul id="app-list">
            <li *ngFor="let app of apps" (click)="run(app)"><a href="#"><img src="{{app.logo}}" alt="">{{app.name}}</a></li>
        </ul>

        <div class="search">
            <form action="">
                <input type="text" placeholder="Search programs and files">
            </form>
        </div>
    </div>

</div>
